body{
    background-image: url(Image/img12.jpg);
    background-size: cover;
}
.form{
    background-color: rgba(0, 0, 0, 0.5);
    height: 230px;
    width: 350px;
    margin: 0 auto;
    /* margin-top: 10px; */
    padding:5px 50px;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: inset -4px -4px rgba(0, 0, 0, 0.5);
    -webkit-margin: border radius 15px;
    -moz-margin: border radius 15px;
    -ms-margin: border radius 15px;
    -o-margin: border radius 15px;
    margin: border radius 15px;
    font-weight: bolder;
    color: white;
    opacity: 0.7;
}
.form input[type="text"]{
    height: 35px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.7);
    -webkit-webkit: border radius 5px;
    -moz-webkit: border radius 5px;
    -ms-webkit: border radius 5px;
    -o-webkit: border radius 5px;
}
.form input[type="password"]{
    height: 35px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.7);
    -webkit-webkit: border radius 5px;
    -moz-webkit: border radius 5px;
    -ms-webkit: border radius 5px;
    -o-webkit: border radius 5px;
}
.form input[type="submit"]{
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.7);
    -webkit-webkit: border radius 3px;
    -moz-webkit: border radius 3px;
    -ms-webkit: border radius 3px;
    -o-webkit: border radius 3px;
    background-color: skyblue;
}